nav a {
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
}

#special {
    padding: 5px;
    text-decoration: none;
    color: white;
    border-left: none;
    border-right: 2px solid rgb(255, 255, 255);
}

body {
    background-color: rgb(55, 55, 55);
    color: #39E22F;
}

.hidden {
    display: none;
}

button {
    background-color: #39E22F;
    border: none;
    border-radius: 5px;
}

button:disabled {
    color: rgb(70, 70, 70);
}

hr {
    color: rgb(255, 255, 255);
}
