<%- include("../partials/header", { title: title, stylesheet: stylesheet }); %>

<div id="main">
  <div id="header">
    <img src="./cg2logo.png" draggable="false">
    <h1>Clicker Game 2.0</h1>
    <p>
      Welcome, player. You have a retail bussines where you sell all kinds of
      stuff. From car parts and tech to books, clothes, trips etc. Your goal is
      to build a giant robot. You get money by clicking the button. You can use
      your money to upgrade or build parts of the robot. Good luck, have fun.
      <br />
      Note: Some items may need to be unlocked by purchasing 10 of the previous
      items.
    </p>
  </div>

  <hr />

  <div id="navigationDiv">
    <nav id="navigation">
      <a href="#loanDiv">Loans</a>
      <a href="#depositDiv">Deposits</a>
      <a href="#gamblingDiv">Gambling</a>
      <a href="#rebirthDiv">Rebirths</a>
      <a href="#save">Save & Load</a>
    </nav>
  </div>

  <hr />

  <div id="moneyStats">
    <h3 id="money">Your money: 0 $</h3>
    <p id="moneyPerClick">Money per click: 1 $</p>
    <p id="moneyPerSecond">Money per second: 0 $</p>
    <p id="moneyPercentage">Money percentage: 100 %</p>

    <button onclick="moneyAdd();">Click for money!</button>
  </div>

  <hr />

  <div id="workerDiv">
    <p id="workersDescription">
      Workers give you 5 $ per second. They cost 100 $. You currently have 0
      workers.
    </p>

    <button onclick="buy('Workers');">Hire worker</button>
  </div>

  <div id="clickUpgradeDiv">
    <p id="clickUpgradesDescription">
      Click upgrades give you more money per click. They cost 150 $. You
      currently have 1 click upgrade.
    </p>

    <button onclick="buy('ClickUpgrades');">Buy click upgrade</button>
  </div>

  <div id="souvenirShopDiv">
    <p id="souvenirShopsDescritption">
      Souvenir shops give you 25 $ per second. They cost 4000 $. You currently
      have 0 souvenir shops. This item must be unlocked.
    </p>

    <button onclick="buy('SouvenirShops');" id="souvenirShopsButton" disabled>
      Buy souvenir shop
    </button>
  </div>

  <div id="bookStoreDiv">
    <p id="bookStoresDescription">
      Book stores give you 50 $ per second. They cost 9000 $. You currently have
      0 book stores. This item must be unlocked.
    </p>

    <button onclick="buy('BookStores');" id="bookStoresButton" disabled>
      Buy book store
    </button>
  </div>

  <div id="clothesShopDiv">
    <p id="clothesShopsDescription">
      Clothes shops give you 150 $ per second. They cost 14500 $. You currently
      have 0 clothes shops. This item must be unlocked.
    </p>

    <button onclick="buy('ClothesShops');" id="clothesShopsButton" disabled>
      Buy clothes shop
    </button>
  </div>

  <div id="phoneStoreDiv">
    <p id="phoneStoresDescription">
      Phone stores give you 250 $ per second. They cost 20000 $. You currently
      have 0 phone stores. This item must be unlocked.
    </p>

    <button onclick="buy('PhoneStores');" id="phoneStoresButton" disabled>
      Buy phone store
    </button>
  </div>

  <div id="shoeShopDiv">
    <p id="shoeShopsDescription">
      Shoe shops give you 325 $ per second. They cost 25000 $. You currently
      have 0 shoes shops. This item must be unlocked.
    </p>

    <button onclick="buy('ShoeShops');" id="shoeShopsButton" disabled>
      Buy shoe shop
    </button>
  </div>

  <hr />

  <div id="loanDiv">
    <p>
      Loans give you temporary money that you must repay after a certain time
      with a 10 % tax on top.
    </p>
    <form>
      <label for="quantity">Quantities: </label><br />
      <input type="radio" value="1000" name="quantityLoan" />1 000 $<br />
      <input type="radio" value="2000" name="quantityLoan" />2 000 $<br />
      <input type="radio" value="5000" name="quantityLoan" />5 000 $<br />
      <input type="radio" value="10000" name="quantityLoan" />10 000 $<br />
      <input type="radio" value="20000" name="quantityLoan" />20 000 $<br />
      <input type="radio" value="50000" name="quantityLoan" />50 000 $<br />
      <input type="radio" value="100000" name="quantityLoan" />100 000 $<br />
      <input type="radio" value="200000" name="quantityLoan" />200 000 $<br />
      <input type="radio" value="500000" name="quantityLoan" />500 000 $<br />
      <input type="radio" value="1000000" name="quantityLoan" />1 000 000 $<br />
      <input type="radio" value="2000000" name="quantityLoan" />2 000 000 $<br />
      <input type="radio" value="5000000" name="quantityLoan" />5 000 000 $<br />
      <input type="radio" value="10000000" name="quantityLoan" />10 000 000 $<br />
      <input type="radio" value="20000000" name="quantityLoan" />20 000 000 $<br />
      <input type="radio" value="50000000" name="quantityLoan" />50 000 000 $<br />
      <input type="radio" value="100000000" name="quantityLoan" />100 000 000
      $<br />

      <label for="time">Times: </label><br />
      <input type="radio" value="60" name="timeLoan" />1 minute<br />
      <input type="radio" value="120" name="timeLoan" />2 minutes<br />
      <input type="radio" value="300" name="timeLoan" />5 minutes<br />
    </form>
    <button onclick="takeLoan();">Get loan</button>
  </div>

  <hr />

  <div id="depositDiv">
    <p>
      Deposits take some of your money temporary. When you set the quantity and
      click "Deposit" you will get your money back with 5 % more after 5
      minutes.
    </p>

    <form>
      <label for="quantityDeposit">Quantities: </label><br />
      <input type="radio" value="1000" name="quantityDeposit" />1 000 $<br />
      <input type="radio" value="2000" name="quantityDeposit" />2 000 $<br />
      <input type="radio" value="5000" name="quantityDeposit" />5 000 $<br />
      <input type="radio" value="10000" name="quantityDeposit" />10 000 $<br />
      <input type="radio" value="20000" name="quantityDeposit" />20 000 $<br />
      <input type="radio" value="50000" name="quantityDeposit" />50 000 $<br />
      <input type="radio" value="100000" name="quantityDeposit" />100 000 $<br />
      <input type="radio" value="200000" name="quantityDeposit" />200 000 $<br />
      <input type="radio" value="500000" name="quantityDeposit" />500 000 $<br />
      <input type="radio" value="1000000" name="quantityDeposit" />1 000 000
      $<br />
      <input type="radio" value="2000000" name="quantityDeposit" />2 000 000
      $<br />
      <input type="radio" value="5000000" name="quantityDeposit" />5 000 000
      $<br />
      <input type="radio" value="10000000" name="quantityDeposit" />10 000 000
      $<br />
      <input type="radio" value="20000000" name="quantityDeposit" />20 000 000
      $<br />
      <input type="radio" value="50000000" name="quantityDeposit" />50 000 000
      $<br />
      <input type="radio" value="100000000" name="quantityDeposit" />100 000 000
      $<br />
    </form>

    <button onclick="makeDeposit();">Deposit</button>
  </div>

  <hr />

  <div id="gamblingDiv">
    <p id="gamblingDescription">
      Gambling is a risky way you can either win or lose money. You try and
      guess a random number from one to seven and if you guess you win what you
      betted, doubled. If you lose though, you lose the money you betted.
    </p>
    <form>
      <label for="bet">Bet: </label><br />
      <input type="radio" value="1000" name="bet" />1 000 $<br />
      <input type="radio" value="2000" name="bet" />2 000 $<br />
      <input type="radio" value="5000" name="bet" />5 000 $<br />
      <input type="radio" value="10000" name="bet" />10 000 $<br />

      <label for="guess">Guess: </label><br />
      <input type="radio" value="1" name="guess" />1<br />
      <input type="radio" value="2" name="guess" />2<br />
      <input type="radio" value="3" name="guess" />3<br />
      <input type="radio" value="4" name="guess" />4<br />
      <input type="radio" value="5" name="guess" />5<br />
      <input type="radio" value="6" name="guess" />6<br />
      <input type="radio" value="7" name="guess" />7<br />
    </form>

    <button onclick="gamble();">Gamble</button>
  </div>

  <hr />

  <div id="rebirthDiv">
    <p id="rebirthDescription">
      Rebirths take all your money upgrades and shops but they increase your
      money gain by 25 % than before. They cost 500000 $.
    </p>

    <button onclick="rebirth();">Rebirth</button>
  </div>
</div>

<div id="saveForm" class="hidden">
  <form action="/add-user" method="POST">
    <label for="name">Username: </label><br />
    <input type="text" name="name" id="name" />
    <div style="display: none">
      <input type="text" name="money" />
      <input type="text" name="Workers" />
      <input type="text" name="ClickUpgrades" />
      <input type="text" name="SouvenirShops" />
      <input type="text" name="BookStores" />
      <input type="text" name="ClothesShops" />
      <input type="text" name="PhoneStores" />
      <input type="text" name="ShoeShops" />
      <input type="text" name="returnAmountLoan" />
      <input type="text" name="returnAmountDeposit" />
      <input type="text" name="username" />
    </div>
    <a href="/add-user"
      ><button onclick="fillFormAndSubmit();" id="sub">Save</button></a
    >
  </form>
</div>

<div id="save">
  <p>
    You can use the buttons below to save or load your game using a username.
    Saves last forever. <br />
    If you make a new save the old one will be overwritten.
  </p>
  <button onclick="toggleForm();" id="saveButton">Save Game</button><br />
  <div id="other">
    <a href="/login"><button>Load Game</button></a><br />
    <button
      onclick="if(confirm('Are you sure you want to exit? All unsaved progress will be lost.')) window.location.href = `http://${location.host}/`"
    >
      Log Out</button
    ><br />
  </div>
</div>

<script src="./script.js"></script>

<% try { %>

<script>
  var user = JSON.parse('<%- user %>');
  username = user.username;
  money = user.money; // Turn ejs value into string then back to int to not cause error.
  takeLoan(user?.returnAmountLoan || 0, 300);
  makeDeposit(user?.returnAmountDeposit || 0);

  var user_shop = user.Shop; // ignore this error
  Object.keys(user_shop).forEach((key) => {
    Object.keys(user_shop[key]).forEach((key2) => {
      if (key2 === "element" || key2 === "button") {
      } else {
        Shop[key][key2] = user_shop[key][key2];
      }
    });
  });

  document.querySelector('[name="name"]').value = username;
</script>

<% } catch (e) { console.log(e); } %> <%- include("../partials/footer"); %>
